*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100vh;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .twitch{
    font-size: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #80f;
    color: #fff;
    animation: pulse 1s linear infinite;
}

@keyframes pulse
{
    0%
    {
        box-shadow: 0 0 0 0 #8800ff88,0 0 0 0 #8811ff88;
    }
    40%
    {
        box-shadow: 0 0 0 1.3rem #8800ff00,0 0 0 0 #8811ff88;
    }
    80%
    {
        box-shadow: 0 0 0 1.3rem #8800ff00,0 0 0 1.8rem #8811ff00;

    }
    100%
    {
        box-shadow: 0 0 0 0px #8800ff00,0 0 0 1.8rem #8811ff00;
    }
}